<!DOCTYPE html>
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Imágenes</h1>
        </header>

        <aside>
            <h1>Mis Autos</h1>
            <p>Los autos que amo en mi subconciente llevo todos los dias.</p>
        </aside>

        <section>
            <h2>Lunes</h2>
            
            <img src="../static/Img/veh1.jpg" alt="Porsche"/>
            
             <h2>Martes</h2>
             
             <img src="../static/Img/veh2.jpg" width="300" alt="Mercedes"/>
            
        </section>

        <footer>
            <h3>Todos los Derechos Reservados de TechShop 2025 &COPY</h3>
        </footer>
    </body>
</html>
